.genel-div{
    width: 100%;
    height: auto;
}
.neon-container {
    width: 100%;
    height: 40rem;
    position: relative;
    background-color: #d6d6d6;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anima-menu {
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    top: 2rem;
    right: 3rem;
    border-radius: 50%;
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blog-anima-btn {
    width: 13rem;
    height: 3.5rem;
    position: absolute;
    top: 2rem;
    right: 8rem;
    border-radius: 40px;
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 15;
}


.blog-anima-black-btn {
    width: 13rem;
    height: 3.5rem;
    position: fixed;
    top: 2rem;
    right: 8rem;
    border-radius: 40px;
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 20;
}

.blog-text{
    width: 9rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: white;
}

.blog-container{
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-icon{
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.blog-anima-btn:hover .blog-icon{
    animation-name: rotateAnimation;
  animation-duration: 0.2s; /* Animasyon süresi */
  animation-fill-mode: forwards;    
}

@keyframes rotateAnimation {
    0% {
      transform: rotate(0deg); /* Başlangıç durumu */
    }
    100% {
      transform: rotate(-45deg); /* Son durum */
    }
  }

.position-div {
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.close-hidden-menu {
    width: 200rem;
    height: 200rem;
    background-color: transparent;
    z-index: 10;
    position: absolute;
    top: -100rem;
    right: -100rem;
    animation-name: menubutton2;
    animation-duration: 0.5s;
    border-radius: 10000px;
}

.open-hidden-menu {
    width: 200rem;
    height: 200rem;
    background-color: black;
    z-index: 10;
    position: fixed;
    top: -100rem;
    right: -100rem;
    animation-name: menubutton;
    animation-duration: 0.5s;
    border-radius: 10000px;


}

@keyframes menubutton {
    from {
        width: 0;
        height: 0;

    }

    to {
        width: 200rem;
        height: 200rem;
    }
}

@keyframes menubutton2 {
    from {
        width: 200rem;
        height: 200rem;
        background-color: black;


    }

    to {
        width: 0;
        height: 0;
        background-color: black;
    }
}

.one-menu-div {
    width: 1.5rem;
    height: 2px;
    background-color: black;
    margin-bottom: 2px;
}

.two-menu-div {
    width: 1.5rem;
    height: 2px;
    background-color: black;
    margin-top: 2px;
}

.one-open-menu-div {
    width: 1.5rem;
    height: 2px;
    background-color: black;
    transform: rotate(45deg);
    position: absolute;
    top: calc((2rem - 2px) / 2);
    animation-name: rotate1;
    animation-duration: 0.6s;
}

.two-open-menu-div {
    width: 1.5rem;
    height: 2px;
    background-color: black;
    transform: rotate(-45deg);
    position: absolute;
    top: calc((2rem - 2px) / 2);
    animation-name: rotate2;
    animation-duration: 0.6s;
}

@keyframes rotate1 {
    from {
        transform: rotate(0);

    }

    to {
        transform: rotate(45deg);
    }
}

@keyframes rotate2 {
    from {
        transform: rotate(0);

    }

    to {
        transform: rotate(-45deg);
    }
}

.open-link-cont{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.open-linkthefix{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
}

.tag-link-div{
    width: 40%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tag-site{
    width: 15rem;
    height: 5rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    position: relative;
}

.tag-smooth{
    width: auto;
    height: auto;
    position: absolute;
    bottom: 1;
    animation-name: opacity, opacity2;
    animation-duration: 0.4s, 0.1s;
    animation-delay: 0.3s, 0.3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.tag-site:hover{
    color: #1e232e;
    cursor: pointer;
}

@keyframes opacity{
    from{
        bottom: 0
    }to{
        bottom: 1rem;
    }
}

@keyframes opacity2{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

.logo-cont{
    width: 10rem;
    height: 2rem;
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #1e232e;
}

.logo-black-cont{
    width: 10rem;
    height: 2rem;
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #1e232e;
    z-index: 20;
    animation-name: coloring;
    animation-duration: 0.1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes coloring{
    from{
        color: black;
    }to{
        color: white;
    }
}

.about-cont{
    width: 70%;
    height: 25rem;
}

.about-imim{
    width: 100%;
    height: 15rem;
    background-image: url(ımım.png);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: center;
}

.circle-name{
    width: 100%;
    height: 15rem;
    background-image: url(circlename3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 27%;
    animation-name: circlename;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes circlename{
    from{
        transform: rotate(0deg);

    }to{
        transform: rotate(360deg);

    }
}

.about-big{
    width: 100%;
    height: 5rem;
    font-family: 'ClashDisplay-Regular';
    font-weight: 400;
    font-size: 42px;
    color: #1e232e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-smaller{
    width: 100%;
    height: 5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #1e232e;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}